<footer class="container-fluid bg-light">
    <dir class="row">
        <section class="col">
            col 1
        </section>
        <section class="col">
            col 2
        </section>
        <section class="col">
            col 3
        </section>
    </dir>
</footer>